@implements IDisposable
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BloodBank</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Settings
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div> *@
<MudPaper Width="250px" Class="py-3" Elevation="0">
    <MudNavMenu Bordered=true Color="Color.Info">
        <MudText Typo="Typo.h6" Class="px-4">BLOOD BANK</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Blood Bank Management System</MudText>
        <MudDivider Class="my-2" />
        <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="fas fa-chart-line">Dashboard</MudNavLink>
        <MudNavGroup Title="Donations" Expanded="true" Icon="fas fa-hand-holding-heart">
            <MudNavLink Href="/donation-form" Icon="fas fa-plus" Match="NavLinkMatch.All">Add Donation</MudNavLink>
            <MudNavLink Href="/donors" Icon="fas fa-user" Match="NavLinkMatch.All">Donors</MudNavLink>
        </MudNavGroup>
        @*         <MudNavLink class="nav-link" Href="Account/Manage" Match="NavLinkMatch.All"><span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @userName</MudNavLink> *@
        <MudNavGroup Title="Settings" Expanded="true" Icon="fas fa-cogs">
            <MudNavLink Href="/clinics" Match="NavLinkMatch.All">Clinics</MudNavLink>
            <MudNavLink Href="/donationSymptoms" Match="NavLinkMatch.All">Donation Symptoms</MudNavLink>
            <MudNavLink Href="/donationTherapies" Match="NavLinkMatch.All">Donation Therapies</MudNavLink>
            <MudNavLink Href="/antibodies" Match="NavLinkMatch.All">Antibodies</MudNavLink>
            <MudNavLink Href="/add-question" Match="NavLinkMatch.All">Questions</MudNavLink>
            <MudNavLink Href="/add-examination" Match="NavLinkMatch.All">Examinations</MudNavLink>
            <MudNavLink Href="/units-of-measurement" Match="NavLinkMatch.All">Units Of Measurement</MudNavLink>
            <MudNavLink Href="/suspension-reasons" Match="NavLinkMatch.All">Suspension Reasons</MudNavLink>
        </MudNavGroup>


        <div class="nav-item px-3">
            <MudNavLink Href="Account/Logout">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button type="submit" class="nav-link">
                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                </button>
            </MudNavLink>
        </div>

    </MudNavMenu>
</MudPaper>
@code {
    private string? currentUrl;
    private string userName;

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            userName = user.Identity.Name; // Fetches the logged-in user's name
        }
        else
        {
            userName = "Guest"; // Or any default text for non-authenticated users
        }
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

