@implements IDisposable
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@attribute [Authorize]
@inject NavigationManager NavigationManager

@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BloodBank</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Settings
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div> *@
<MudPaper Width="250px" Class="py-3" Elevation="0">
    <MudNavMenu Bordered=true Color="Color.Info">
        <MudText Typo="Typo.h6" Class="px-4">My Application</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Secondary Text</MudText>
        <MudDivider Class="my-2" />
        <MudNavLink Href="/donation-form" Match="NavLinkMatch.All">Donation Form</MudNavLink>
        <MudNavLink Href="/donor-questionaire" Match="NavLinkMatch.All">Donor Questionaire</MudNavLink>
        <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="fas fa-chart-line">Dashboard</MudNavLink>
        <MudNavGroup Title="Settings" Expanded="false" Icon="fas fa-cogs">
            <MudNavLink Href="/clinics" Match="NavLinkMatch.All">Clinics</MudNavLink>
            <MudNavLink Href="/donationSymptoms" Match="NavLinkMatch.All">Donation Symptoms</MudNavLink>
            <MudNavLink Href="/donationTherapies" Match="NavLinkMatch.All">Donation Therapies</MudNavLink>
            <MudNavLink Href="/antibodies" Match="NavLinkMatch.All">Antibodies</MudNavLink>
            <MudNavLink Href="/add-question" Match="NavLinkMatch.All">Questions</MudNavLink>
        </MudNavGroup>
        <MudNavLink Href="/users" Icon="fas fa-users">Users</MudNavLink>
        <MudNavLink Href="/security" Icon="fas fa-user-shield">Security</MudNavLink>
        <MudNavLink Href="/account/logout" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Logout">Logout</MudNavLink>
    </MudNavMenu>
</MudPaper>
@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

